body {
  background: salmon;
  font-family: system-ui, sans-serif;
  font-size: 20px;
  margin: 2em;
}

img {
  max-width: 100%;
}

nav {
  background: rgba(255,255,255,0.75);
  display: flex;
}

nav a {
  padding: 20px;
}

nav a.active {
  background: white;
}

.cardgroup {
  display: flex;
  margin-left: -10px;
  margin-right: -10px;
}

.card {
  background: rgba(255,255,255,0.5);
  border-radius: 10px;
  box-shadow: 0 2px 0 1px rgba(0, 0, 0, 0.5);
  padding: 20px;
  border: solid 10px white;
  margin: 10px;
  transition: box-shadow 1s, transform 1s;
}

.card:hover {
  box-shadow: 0 3px 0 6px rgba(0, 0, 0, 1);
  transform: scale(1.05);
}
